@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background-color:#1FDEBA;
  font-weight: 600;
  font-size: x-large;
  padding:20px;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 20%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  color:#1FDEBA;
}

li {
  display: inline-block;
  list-style-type: none;
}

section {
  border-top: 3px solid #B7B7B7;
}

header {
  margin-bottom: 30px;  
}

.banner {
  border-top: 3px solid #B7B7B7;
}

.wrapper{
  width:93%;
  margin: 0 auto;
}

.banner-wrapper{
  width:93%;
  margin: 0 auto;
  display: flex;
}

h1 img{
  height:65px;
  width:65px;
  float: left;
}

.logo-text {
  color:#6069D0;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 10px;
}

h1 {
  color:#6069D0;
  text-transform: uppercase;
}

.left-side {
  margin-top: 49px;
  flex-basis: 65%;
}

h2{
  text-transform: capitalize;
  color:#6069D0;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}

h2 .abbreviation {
  text-transform: uppercase;
  color:#6069D0;
  font-size: 36px;
  font-weight: bold;
}

.abbreviation{
  text-transform: uppercase;
  color:#6069D0;
  font-size: 25px;
  font-weight: bold;
}

.abbreviation-one {
  text-transform: uppercase;  
} 

.address{
  text-transform: capitalize;
  color:#6069D0;
  font-size:25px;
}

p::first-letter{
  text-transform: capitalize;
}

.info{
  padding-top:30px;
}

.add-info{
  text-transform: capitalize;
  color:#6069D0;
  font-size: 25px;
}

.info p{
  font-size: 20px;
  padding-top: 20px;
}
.info >a {
  margin-top: 50px;
  margin-right: 40px;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  background-color: #44C79D;
  font-weight: bold;
  font-size: 29px;
}

.cap{
  text-transform: capitalize;
}

.right-side{
  flex-basis: 35%;
  background-color:#6069D0;
  color: #F4F5FC;
  font-size: 20px;
}

.right-side>ul>li{
  display: inline-block;
}

.slide-info-2, .slide-info-3, .slide-info-4, .slide-info-5, .slide-info-6{
  display: none;
}

p:first-letter{
  text-transform: uppercase;
}

.cap::first-letter{
  text-transform: capitalize;
}

.right-col::first-letter{
  text-transform: capitalize;

}

li::first-letter{
  text-transform: capitalize;
}

.employee-per{
  padding-left:45px;
  font-size:30px;
}

.employee-info{
  padding-bottom: 20px;
}

.normal-text{
  padding-left: 70px;
  text-transform: lowercase !important ; 
}

.left-arrow {
  display: inline-block;
  position: relative;
  top:238px;
  left: 40px;
  width: 25px;
  height: 25px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-135deg);
}

.horizontal-line{
  display:inline-block;
  height: 1px;
  width:35px;
  padding: 0 75px 5px 10px;
  border: 0;
  border-top: 1px solid #ccc;
}

.horizontal-line-word {
  padding :0 10px

}
.right-arrow {
  display: inline-block;
  position: relative;
  bottom:325px;
  left:403px;
  width: 25px;
  height: 25px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.slick-dots {
  height: 19px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left:20px;
}

.slick-dots-center {
  height: 19px;
  width: 20px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  margin-left:20px;
  margin-top:75px;
}

.slide-info-1, .slide-info-2, .slide-info-3, .slide-info-4, .slide-info-5, .slide-info-6 {
  margin-top: 46px;
  margin-left:97px
}

.right-side ul li {
  display: block;
  padding-bottom: 20px;
}

.content span {
  display: block;
}
.avatar-wrapper {
  width:93%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content {
  display: inline-block;
  width: max-content;
}

.avatar {
  flex-direction: row;
  flex-basis: 33.3%;
  padding-top: 50px;
}

.avatar-wrapper ul li {
  display: inline-block;
  vertical-align: top;
  width: calc(10% - -65px);
  margin: 0 119px 50px 125px;
  color: white;
  text-align: center;
}

 .avatar-banner figure img{
  width: 100%;
  height: auto;
}

.avatar-name {
  text-transform: uppercase;
  color:#1FDEBA;
  font-size: 25px;
  font-weight: bold;
}

.avatar-info {
  text-transform: capitalize;
  color:#717171;
  font-weight: bold;
}

.responds-sentence-one { 
  color: #757575;
  padding-top:10px;
}

.responds {
  color: #757575;
  padding:5px 0;
}

.image2 img {
  padding-left: 50px;
}

.test-wrap{
  background-color: #5C86BD;
  max-width: 100%;
  padding: 50px;
}

.wrapper h2 {
  padding: 50px 0;
}

h3{
  text-transform: capitalize;
  color:#717171;
  font-size:25px;
  font-weight: bold;
  padding: 10px;
}

.services-wrapper {
  width: 93%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 50px;
}

.services-wrapper img {
  width: 68px;
  border-radius: 27px;
}

.services ul li {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  text-align: center;
}

.services-wrapper p {
  color: #7E7E7E;
  font-size:20px;
  padding: 20px 50px 50px;
}
.service-heading{
  text-transform: capitalize;
  font-size: x-large;
  font-weight: 700;
}

.testimonals {
  background-color: #6069D0;
}

.testimonals h2 {
  padding-top:20px;
  color: white;
}

.testimonal-info {
  display: flex;

}
.testimonal-slide-info-2 , .testimonal-slide-info-3,
 .testimonal-slide-info-4, .testimonal-slide-info-5,
  .testimonal-slide-info-6 {
  display: none;
}

.testimonals p {
  color: #D5D6F2;
  padding-left:50px;
}

.testimonals p span::first-letter {
  text-transform: capitalize;
}

.testimonals p span  {
  display: block;
  padding: 10px 50px;
  font-size:23px;
  text-align: center;
}

.single-abbreviation {
  text-transform: capitalize;
}

.testimonal-left-arrow {
  display: inline-block;
  position: relative;
  top:80px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(-135deg);
}

.testimonal-right-arrow {
  display: inline-block;
  position: relative;
  bottom:189px;
  left:1355px;
  width: 30px;
  height: 30px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(45deg);
}

.testimonal-slick-dots-group {
  margin-left:50px;
}

.testimonal-slick-dots {
  height: 19px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left:20px;
}

.testimonal-slick-dots-center {
  height: 19px;
  width: 20px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  margin-left:20px;
  margin-top:75px;
}
