@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background-color:#1FDEBA;
  font-weight: 600;
  font-size: x-large;
  padding:20px;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 20%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  color:#1FDEBA;
}

li {
  display: inline-block;
  list-style-type: none;
}

.container{
  width: 100%;
}

section{
  margin: 30px; 
}

.wrapper{
  margin-left: 50px;
  margin-right: 50px;
}

.wrapper-col{
  height: max-content;
  width: 100%;
  display: flex;
}

.logo img{
  height:65px;
  width:65px;
  padding-left: 50px;
  float: left;
}

h1{
  color:#5C86BD;
  text-transform: uppercase;
  font-weight: 600;
  font-size: x-large;
  padding:25px;
}

h2{
text-transform: capitalize;
color:#5C86BD;
font-size: xx-large;
font-weight: 750;
padding-bottom: 10px;
}

.abbrv{
  text-transform: uppercase;
  color:#5C86BD;
}

.address{
  text-transform: capitalize;
  color:#5C86BD;
  font-size: xx-large;
  font-weight: 300;
  padding-bottom: 30px;
}

p::first-letter{
  text-transform: capitalize;
}

.info{
  padding-top: 30px;
}
.add-info{
  text-transform: capitalize;
  color:#5C86BD;
  font-size: x-large;
  padding-bottom: 20px;
}

p{
  padding-top: 20px;
  font-size: large;
}

.cap{
  text-transform: capitalize;
}
.left-col{
  width: 70%;
  height: auto;
  padding: 50px;
}

.right-col{
  width: 30%;
  height: auto;
  background-color:#5C86BD;
  color: white;
  font-size: larger;
  padding: 50px 30px;
}


p:first-letter{
  text-transform: uppercase;
}

.cap::first-letter{
  text-transform: capitalize;
}

.right-col::first-letter{
  text-transform: capitalize;

}

li::first-letter{
  text-transform: capitalize;
}

.employee-per{
  font-size:xx-large
}

.employee-info{
  padding-bottom: 20px;
}

.left-arrow {
  display: inline-block;
  position:relative;
  width: 15px;
  height: 15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-135deg);
}

.hl{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  position: relative;
}
.right-arrow {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.wrapper-avatar-col{
  height: max-content;
  width: 100%;
  display: flex;
  column-count: 3;
  margin-left: 50px;
}

.avatar-col-1, .avatar-col-2, .avatar-col-3{
  width: 33.3%;
  height: auto;
  color: white;
  padding: 50px;
  text-align: center;
  align-content: center;
}

figure{
  align:center;
}

figure img{
  height: 200px;
  width: 250px;
}

figcaption{
  text-transform: uppercase;
  color:#1FDEBA;
  font-size: x-large;
  font-weight: 600;
  padding:20px 0;
}

.avatar-info{
  text-transform: capitalize;
  color:black;
  font-size: large;
  font-weight: 300;
}

.res{
  color: black;
  padding:20px 0;
}

.test-wrap{
  background-color: #5C86BD;
  max-width: 100%;
  padding: 50px;
}

h3{
  text-transform: capitalize;
  color:white;
  font-size: xx-large;
  font-weight: 750;
  padding-bottom: 10px;
}

.wrapper-service-col{
  height: max-content;
  width: 100%;
  display: flex;
  column-count: 3;
}

.service-col-1, .service-col-2, .service-col-3{
  width: 33.3%;
  height: auto;
  color:black;
  padding: 50px;
  text-align: center;
  align-content: center;
}

.service-heading{
  text-transform: capitalize;
  font-size: x-large;
  font-weight: 700;
}